.screen-container{
    width: calc(100% - 100px);
    height: 100%;
    background-color: #000000;
    border-radius: 30px;
    background-color: 141C4F;
    opacity: 1;
    background-image: repeating-radial-gradient(
        circle at center left,
        transparent 0,
        #000000 80px
      ),
      repeating-linear-gradient(#141C4F, #141C4F);
    
}

.flex {
    display: flex;
  }